* {
  margin: 0;
  padding: 0;
  cursor: default;
}
body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  min-height: 100vh; /* 保证页面垂直居中 */
  color: #2a2b2c;
  background-color: #ebedee;
  padding: 10px 0; /* 手机端上下留白 */
}
/* 容器适配垂直布局 */
.container {
  width: 100%;
  max-width: 768px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  width: auto;
  max-width: 100%;
}
.card {
  background-color: transparent;
  width: 100%; /* 适配容器宽度 */
  margin: 15px 0 !important; /* 垂直排列增加间距 */
}
.form-control {
  cursor: auto;
}
.img-thumbnail {
  max-height: 320px;
}
.list-group-item {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* 响应式适配 */
@media (max-width: 769px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .card {
    width: 100%;
  }
}
/* 暗黑模式 */
@media (prefers-color-scheme: dark) { 
  body {
    color: #d9d9d9; 
    background: #1b1b1b;
  }
  .card {
    background-color: #252d38;
  }
  .form-control, .list-group-item, .input-group-text {
    background-color: #333c48;
    color: #d9d9d9;
    border-color: #444;
  }
}
